flow.json
[{"id":"c16e47e1.d5b028","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"dac8832f.0298","type":"inject","z":"c16e47e1.d5b028","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":240,"wires":[["13b8acf9.eeaf13"]]},{"id":"da0c0493.cdb488","type":"ui_form","z":"c16e47e1.d5b028","name":"","label":"","group":"9b555fe1.2509","order":3,"width":0,"height":0,"options":[{"label":"dateCrawled","value":"dc","type":"date","required":true,"rows":null},{"label":"name","value":"name","type":"text","required":true,"rows":null},{"label":"seller","value":"seller","type":"text","required":true,"rows":null},{"label":"offerType","value":"ot","type":"text","required":true,"rows":null},{"label":"abtest","value":"abtest","type":"text","required":true,"rows":null},{"label":"vehicle","value":"vehicle","type":"text","required":true,"rows":null},{"label":"yearOfRegisteration","value":"yor","type":"number","required":true,"rows":null},{"label":"gearBox","value":"gb","type":"text","required":true,"rows":null},{"label":"powerPS","value":"power","type":"number","required":true,"rows":null},{"label":"model","value":"model","type":"text","required":true,"rows":null},{"label":"kilometer","value":"kilo","type":"number","required":true,"rows":null},{"label":"monthOfRegistration","value":"mor","type":"number","required":true,"rows":null},{"label":"fuelType","value":"fuel","type":"text","required":true,"rows":null},{"label":"brand","value":"brand","type":"text","required":true,"rows":null},{"label":"notRepairedDamage","value":"Repaired","type":"text","required":true,"rows":null},{"label":"dateCreated","value":"created","type":"date","required":true,"rows":null},{"label":"nrOfPictures","value":"no","type":"number","required":true,"rows":null},{"label":"postalCode","value":"code","type":"number","required":true,"rows":null},{"label":"lastSeen","value":"lastseen","type":"date","required":true,"rows":null}],"formValue":{"dc":"","name":"","seller":"","ot":"","abtest":"","vehicle":"","yor":"","gb":"","power":"","model":"","kilo":"","mor":"","fuel":"","brand":"","Repaired":"","created":"","no":"","code":"","lastseen":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":320,"wires":[["13b8acf9.eeaf13"]]},{"id":"13b8acf9.eeaf13","type":"function","z":"c16e47e1.d5b028","name":"Pretoken","func":"global.set(\"dc\",msg.payload.dc)\nglobal.set(\"name\",msg.payload.name)\nglobal.set(\"seller\",msg.payload.seller)\nglobal.set(\"ot\",msg.payload.ot)\nglobal.set(\"abtest\",msg.payload.abtest)\nglobal.set(\"vehicle\",msg.payload.vehicle)\nglobal.set(\"yor\",msg.payload.yor)\nglobal.set(\"gb\",msg.payload.gb)\nglobal.set(\"power\",msg.payload.power)\nglobal.set(\"model\",msg.payload.model)\nglobal.set(\"kilo\",msg.payload.kilo)\nglobal.set(\"mor\",msg.payload.mor)\nglobal.set(\"fuel\",msg.payload.fuel)\nglobal.set(\"brand\",msg.payload.brand)\nglobal.set(\"Repaired\",msg.payload.Repaired)\nglobal.set(\"created\",msg.payload.created)\nglobal.set(\"no\",msg.payload.no)\nglobal.set(\"code\",msg.payload.code)\nglobal.set(\"lastseen\",msg.payload.lastseen)\nvar apikey=\"QCtrwixVHX2DHw0I9j8F0HWGoJ96whOXi2kxmfqLcdZL\"\nmsg.headers={ \"content-type\" : \"application/x-www-form-urlencoded\" }\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":280,"wires":[["a9719506.54a828"]]},{"id":"a9719506.54a828","type":"http request","z":"c16e47e1.d5b028","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.bluemix.net/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":280,"wires":[["b4716d90.2d6fb"]]},{"id":"b4716d90.2d6fb","type":"function","z":"c16e47e1.d5b028","name":"Preprediction","func":"var dc=global.get('dc')\nvar name=global.get('name')\nvar seller=global.get('seller')\nvar ot=global.get('ot')\nvar abtest=global.get('abtest')\nvar vehicle=global.get('vehicle')\nvar yor=global.get('yor')\nvar gb=global.get('gb')\nvar power=global.get('power')\nvar model=global.get('model')\nvar kilo=global.get('kilo')\nvar mor=global.get('mor')\nvar fuel=global.get('fuel')\nvar brand=global.get('brand')\nvar Repaired=global.get('Repaired')\nvar created=global.get('created')\nvar no=global.get('no')\nvar code=global.get('code')\nvar lastseen=global.get('lastseen')\nvar token=msg.payload.access_token\nvar instance_id=\"ff3fae51-bd8a-4d51-981f-b70dcb69dbb3\"\nmsg.headers={'Content-Type':'application/json',\"Authorization\":\"Bearer\"+token,\"ML-Instance-ID\": instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"dateCrawled\", \"name\", \"seller\", \"offerType\", \"abtest\", \"vehicleType\", \"yearOfRegistration\", \"gearbox\", \"powerPS\", \"model\", \"kilometer\", \"monthOfRegistration\", \"fuelType\", \"brand\", \"notRepairedDamage\", \"dateCreated\", \"nrOfPictures\", \"postalCode\", \"lastSeen\"],\"values\": [[dc,name,seller,ot,abtest,vehicle,yor,gb,power,model,kilo,mor,fuel,brand,Repaired,created,no,code,lastseen]]}]\n}\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":280,"wires":[["92128e60.31a08"]]},{"id":"92128e60.31a08","type":"http request","z":"c16e47e1.d5b028","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/2047c932-0fde-4ad7-af12-06708cd5141a/predictions","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":200,"wires":[["120dbb14.282a45","de8c0ac7.6de658"]]},{"id":"120dbb14.282a45","type":"function","z":"c16e47e1.d5b028","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":280,"wires":[["22112d72.ae4d72"]]},{"id":"de8c0ac7.6de658","type":"debug","z":"c16e47e1.d5b028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":180,"wires":[]},{"id":"22112d72.ae4d72","type":"ui_text","z":"c16e47e1.d5b028","group":"9b555fe1.2509","order":4,"width":0,"height":0,"name":"","label":"Price","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":380,"wires":[]},{"id":"9b555fe1.2509","type":"ui_group","z":"","name":"Resale Value Prediction","tab":"eac3bb24.2b1738","order":1,"disp":true,"width":"6","collapse":false},{"id":"eac3bb24.2b1738","type":"ui_tab","z":"","name":"Cars","icon":"dashboard","disabled":false,"hidden":false}]
